<html>
  <head>
    <title>방명록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script>
      // insert
      function writeComment() {
        var form = document.getElementById("form_comment");
        axios({
          method: "post",
          url: "http://localhost:8080/visitor/write",
          data: {
            name: form.name.value,
            comment: form.comment.value,
          },
        })
          .then((rep) => {
            // console.log(rep.data);
            return rep.data;
          })
          .then((data) => {
            let html =`<tr><td>${data.id}</td><td>${form.name.value}</td><td>${form.comment.value}</td>
                <td><button onclick="updateInput(this);">수정</button></td>
                <td><button value=${data.id} onclick="deleteComment(this);">삭제</button></td></tr>`;

            $("table").append(html);
          });
      }
      //   delete
      function deleteComment(arg0) {
        var value = $(arg0).val();
        axios({
          method: "post",
          url: "http://localhost:8080/visitor/delete",
          data: {
            id: value
          },
        })
        .then((rep) => {
            console.log(rep.data.id);
            $(arg0).parent().parent().remove();
        })
      }
      // Input값 갱신   
      function updateInput(arg0) {
        var value = $(arg0).val();
        axios({
          method : "post",
          url : "http://localhost:8080/visitor/select",
          data : {
            id : value
          },
        })
        .then((rep) => {
          return rep.data.data[0];
        })
        .then((data) => {
        $('#name').val(data.name);
        $('#comment').val(data.comment);
        let updateButton = `<button id="updateBtn" value="${data.id}" type="button" onclick="updateComment(this);">수정</button>`;

        $("#button-group").append(updateButton);
        })
      }

      // update
      function updateComment(arg0) {
        let id = $(arg0).val();
        let name = $("#name").val();
        let comment = $("#comment").val();
        axios({
          method : "post",
          url : "http://localhost:8080/visitor/update",
          data : {
            id : id,
            name : name,
            comment : comment
          },
        })
        .then((rep) => {
          return rep.data.data;
        })
        .then((data) => {
          let html = `<td>${data[0]}</td>
          <td>${data[1]}</td>
          <td>${data[2]}</td>
          <td><button value=${data[0]} onclick="updateInput(this);">수정</button></td>
          <td>
            <button value=${data[0]} onclick="deleteComment(this);">삭제</button>
          </td>`;
          // console.log($(`tr #${data[0]}`));
          $(`tr[id=${id}]`).html(html);
          $("input[id=name]").val("");
          $("input[id=comment]").val("");
          $("button[id=updateBtn]").remove();
        })
      }


    </script>
  </head>
  <body>
    <div>
      <form id="form_comment">
        <fieldset>
          <legend>방명록 등록</legend>
          <div><input id="name" name="name" type="text" placeholder="사용자 이름" /></div>
          <div><input id="comment" name="comment" type="text" placeholder="방명록" /></div>
          <div id="button-group">
            <button type="button" onclick="writeComment();">등록</button>
          </div>
        </fieldset>
      </form>
    </div>
    <br />
    <table id="visitr_list" border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for ( let i = 0; i < data.length; i++ ){ %>
        <tr id=<%=data[i].id%>>
          <td><%=data[i].id%></td>
          <td><%=data[i].name%></td>
          <td><%=data[i].comment%></td>
          <td><button value=<%=data[i].id%> onclick="updateInput(this);">수정</button></td>
          <td>
            <button value=<%=data[i].id%> onclick="deleteComment(this);">삭제</button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
